$primary: #DE606A;
$secondary: #2f5bd1;
$black: #000;
$black-2: #1F1F1F;
$black-3: #2C2C2C;
$black-4: #252526;
$black-5: #323232;
$black-6: #4D4D4D;
$black-7: #7F7F7F;
$black-8: #363535;
$white: #fff;
$white-2:#EEEEEE;
$white-3:#BCBCBC;
$white-4:#ABABAB;

$font-primary: "Inter", sans-serif;