@media (max-width: 1700px) {
  .autoContainer {
    padding: 0 40px;
  }
  @include header-1700;
  @include components-1700;
  @include footer-1700;
}
@media (max-width: 1470px) {
  .autoContainer {
    padding: 0 30px;
  }
  @include components-1470;
  @include header-1470;
  @include footer-1470;
  @include index-1470;
}
@media (max-width: 1280px) {
  .autoContainer {
    padding: 0 20px;
  }
  @include components-1280;
  @include header-1280;
  @include footer-1280;
  @include index-1280;
}

@media (max-width: 1180px) {
  @include components-1180;
  @include header-1180;
  @include footer-1180;
}
@media (max-width: 768px) {
  .autoContainer {
    padding: 0 15px;
  }
}
@media (max-width: 580px) {
  ._hideMob {
    display: none;
  }
}
@media (max-width: 460px) {
}
